@page "/"
@inject IJSRuntime jsRuntime
@inject ILocalStorageService localStorage
@inject NavigationManager navigationManager
@inject INewsService newsService
@inject INewsCommentService newsCommentService
@using Wlog_Client.Pages.News

@if (IsProcessing)
{
    <div class="loading">
        <div class="fl spinner7 loader-gif"><p style="color: #fff;width: 510px;font-size: 20px;line-height: 1.2em;margin-left: -210px;margin-bottom: 40px;">Loading</p><div class="circ1"></div><div class="circ2"></div><div class="circ3"></div><div class="circ4"></div></div>
    </div>
}
else
{
    <!-- Main News Slider Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 px-0">
                <div class="blog-slider">
                    <div class="blog-slider__wrp swiper-wrapper">

                        @foreach (var item in News.Take(3))
                        {
                            <div class="blog-slider__item swiper-slide">
                                <div class="blog-slider__img">

                                    @foreach (var img in item.NewsImages)
                                    {
                                        <img src="@img.NewsImageUrl" alt="">
                                    }

                                </div>
                                <div class="blog-slider__content">
                                    <div>
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                           href="@($"news/category/{item.Category.NewsCategory.Id}")">@item.Category.NewsCategory.Name</a>
                                        <span class="blog-slider__code">@item.AddedDate.ToString("dd MMM yyyy")</span>
                                    </div>

                                    <div class="blog-slider__title">@item.Title</div>
                                    <div class="blog-slider__text">@((MarkupString)(item.Details != null && item.Details.Length > 150 ? item.Details.Substring(0, 250) + "..." : item.Details)) </div>
                                    <a href="@($"news/details/{item.Id}")" class="blog-slider__button">READ MORE</a>
                                </div>
                            </div>
                        }




                    </div>
                    <div class="blog-slider__pagination"></div>
                </div>
            </div>
            <div class="col-lg-5 px-0">
                <div class="row mx-0">
                    @foreach (var item in News.Skip(3).Take(4))
                    {
                        <div class="col-md-6 px-0">
                            <div class="position-relative overflow-hidden" style="height: 250px;">
                                @foreach (var img in item.NewsImages)
                                {
                                    <img class="img-fluid w-100 h-100" src="@img.NewsImageUrl" style="object-fit: cover;">
                                }
                                <div class="overlay">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                           href="@($"news/category/{item.Category.NewsCategory.Id}")">@item.Category.NewsCategory.Name</a>
                                        <a class="text-white" href=""><small>@item.AddedDate.ToString("dd MMM yyyy")</small></a>
                                    </div>
                                    <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="@($"news/details/{item.Id}")">@((MarkupString)(item.Details != null && item.Details.Replace("h2", "p").Length > 50 ? item.Details.Replace("h2", "p").Substring(0, 50) + "..." : item.Details.Replace("h2", "p")))</a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <!-- Main News Slider End -->


    <!-- Breaking News Start -->
    <div class="container-fluid bg-dark py-3 mb-3">
        <div class="container">
            <div class="row align-items-center bg-dark">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <div class="bg-primary text-dark text-center font-weight-medium py-2" style="width: 170px;">Breaking News</div>
                        <div class="owl-carousel tranding-carousel position-relative d-inline-flex align-items-center ml-3"
                             style="width: calc(100% - 170px); padding-right: 90px;">
                            <div class="text-truncate"><a class="text-white text-uppercase font-weight-semi-bold" href="">Lorem ipsum dolor sit amet elit. Proin interdum lacus eget ante tincidunt, sed faucibus nisl sodales</a></div>
                            <div class="text-truncate"><a class="text-white text-uppercase font-weight-semi-bold" href="">Lorem ipsum dolor sit amet elit. Proin interdum lacus eget ante tincidunt, sed faucibus nisl sodales</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breaking News End -->


    <!-- Featured News Slider Start -->
    @*<div class="container-fluid pt-5 mb-3">
        <div class="container">
            <div class="section-title">
                <h4 class="m-0 text-uppercase font-weight-bold">Featured News</h4>
            </div>
            <div class="owl-carousel news-carousel carousel-item-4 position-relative">
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <img class="img-fluid h-100" src="img/news-700x435-1.jpg" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                               href="">Business</a>
                            <a class="text-white" href=""><small>Jan 01, 2045</small></a>
                        </div>
                        <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">Lorem ipsum dolor sit amet elit...</a>
                    </div>
                </div>
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <img class="img-fluid h-100" src="img/news-700x435-2.jpg" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                               href="">Business</a>
                            <a class="text-white" href=""><small>Jan 01, 2045</small></a>
                        </div>
                        <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">Lorem ipsum dolor sit amet elit...</a>
                    </div>
                </div>
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <img class="img-fluid h-100" src="img/news-700x435-3.jpg" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                               href="">Business</a>
                            <a class="text-white" href=""><small>Jan 01, 2045</small></a>
                        </div>
                        <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">Lorem ipsum dolor sit amet elit...</a>
                    </div>
                </div>
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <img class="img-fluid h-100" src="img/news-700x435-4.jpg" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                               href="">Business</a>
                            <a class="text-white" href=""><small>Jan 01, 2045</small></a>
                        </div>
                        <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">Lorem ipsum dolor sit amet elit...</a>
                    </div>
                </div>
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <img class="img-fluid h-100" src="img/news-700x435-5.jpg" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                               href="">Business</a>
                            <a class="text-white" href=""><small>Jan 01, 2045</small></a>
                        </div>
                        <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">Lorem ipsum dolor sit amet elit...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <!-- Featured News Slider End -->


    <!-- News With Sidebar Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h4 class="m-0 text-uppercase font-weight-bold">Latest News</h4>
                                <a class="text-secondary font-weight-medium text-decoration-none" href="">View All</a>
                            </div>
                        </div>
                        @if (News != null)
                        {
                            foreach (var context in News.Take(TakeLoad))
                            {
                                <div class="col-lg-6">
                                    <div class="position-relative mb-3">
                                        @foreach (var img in context.NewsImages.Take(1))
                                        {
                                            <img class="img-fluid w-100" src="@img.NewsImageUrl" style="object-fit: cover; height: 14.375rem;" alt="">
                                        }
                                        <div class="bg-white border border-top-0 p-4">
                                            <div class="mb-2">
                                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                                   href="@($"news/details/{context.Id}")">@context.Category.NewsCategory.Name </a>
                                                <a class="text-body" href=""><small>Jan 01, 2045</small></a>
                                            </div>
                                            <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="@($"news/details/{context.Id}")">@context.Title</a>
                                            <p class="m-0">
                                                @((MarkupString)(context.Details != null && context.Details.Length > 150 ? context.Details.Substring(0, 250) + "..." : context.Details))
                                            </p>
                                        </div>
                                        <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                            <div class="d-flex align-items-center">
                                                <img class="rounded-circle mr-2" src="img/user.jpg" width="25" height="25" alt="">
                                                <small>@context.User.Name @context.User.Surname</small>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <small class="ml-3"><i class="far fa-eye mr-2"></i>@context.ViewCount</small>
                                                <small class="ml-3"><i class="far fa-comment mr-2"></i>@CommentList.Where(x => x.NewsId == context.Id).Count()</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }

                        <div class="col-lg-12 mb-3">
                            @if (News.Count() > 6)
                            {

                                <button class="button @Loadingmore" @onclick="@TakeLoadClick">
                                    @if (IsLoading)
                                    {
                                        <span class="spinner"></span>
                                    }
                                    @LoadText
                                </button>


                            }
                           
                        </div>
                    </div>
                </div>

                <NewsRightSide />
            </div>
        </div>
    </div>
    <!-- News With Sidebar End -->
}



@code{

    public int TakeLoad { get; set; } = 6;
    public string Loadingmore { get; set; } = "";
    public string LoadText { get; set; } = "Daha çox yüklə";

    NewsPaginationDTO NewsPagingModel = new NewsPaginationDTO();

    public IEnumerable<NewsDTO> News { get; set; } = new List<NewsDTO>();
    public IEnumerable<NewsCommentDTO> CommentList { get; set; } = new List<NewsCommentDTO>();
    public bool IsProcessing { get; set; } = false;
    public bool IsLoading { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        IsProcessing = true;
        News = await newsService.GetNews();
        CommentList = await newsCommentService.GetNewsComment();
        IsProcessing = false;
    }

    private async Task TakeLoadClick()
    {
        LoadText = "";
        IsLoading = true;
        await Task.Delay(1000);
        TakeLoad = TakeLoad + 6;
        IsLoading = false;
        LoadText = "Daha çox yüklə";
    }



    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeVoidAsync("startCarousel", null);
    }


}
