@page "/account"
@inject ILocalStorageService localStorage
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@inject IAccountService accountService


<link href="css/account.css" rel="stylesheet" />
@if (UserDetails == null)
{
    <div class="loading">
        <div class="fl spinner7 loader-gif"><p style="color: #fff;width: 510px;font-size: 20px;line-height: 1.2em;margin-left: -210px;margin-bottom: 40px;">Loading</p><div class="circ1"></div><div class="circ2"></div><div class="circ3"></div><div class="circ4"></div></div>
    </div>
}
else
{
    <div class="container padding-bottom-3x mb-2">
        <div class="row">
            <CascadingValue Value="ActiveProfile" Name="ActiveProfile">
                <Profile></Profile>
            </CascadingValue>
            
            <div class="col-lg-8">
                <div class="padding-top-2x mt-2 hidden-lg-up"></div>
                <!-- Profile-->
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0"> Tam adı</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @UserDetails.Name @UserDetails.Surname
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">E-poçt</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @UserDetails.Email
                                </div>
                            </div>
                            <hr>
                            @if (UserDetails.Profision != null && UserDetails.Profision != "")
                            {
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Peşə</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @UserDetails.Profision
                                    </div>
                                </div>
                                <hr>
                            }

                            @if (UserDetails.Adress != null && UserDetails.Adress != "")
                            {
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Ünvan</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @UserDetails.Adress
                                    </div>
                                </div>
                                <hr>
                            }
                            @if (UserDetails.About != null && UserDetails.About != "")
                            {
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Haqqında</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @UserDetails.About
                                    </div>
                                </div>
                                <hr>
                            }

                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-info" href="@($"account/edit")">Düzəliş et</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="mb-4">
                </div>
                
            </div>
        </div>
    </div>
}



@code {

    public string ActiveProfile { get; set; } = "active";

    public bool IsProcessing { get; set; } = false;

    public UserDTO UserDetails { get; set; } = new UserDTO();

    protected override async Task OnInitializedAsync()
    {
        var userInfo = await localStorage.GetItemAsync<UserDTO>
                (SD.Local_UserDetails);

        IsProcessing = true;
        UserDetails = await accountService.USerDetails(userInfo.Id);
        IsProcessing = false;
    }

}
