@page "/news/details/{Id:int}"
@inject IJSRuntime jsRuntime
@inject NavigationManager navigationManager
@inject ILocalStorageService localStorage
@inject INewsService newsService
@inject ISubscribeService subscribeService
@inject INewsCommentService newsCommentService
@using System.Threading;

@if (News?.NewsImages == null)
{
    <div class="loading">
        <div class="fl spinner7 loader-gif"><p style="color: #fff;width: 510px;font-size: 20px;line-height: 1.2em;margin-left: -210px;margin-bottom: 40px;">Loading</p><div class="circ1"></div><div class="circ2"></div><div class="circ3"></div><div class="circ4"></div></div>
    </div>
}
else
{
    <!-- News With Sidebar Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- News Detail Start -->
                    <div class="position-relative mb-3">

                        <MudCarousel Class="mud-width-full" Style="height:400px;" ShowArrows="@arrows" ShowBullets="@bullets" AutoCycle="@autocycle" TData="object">

                            @foreach (var item in News.NewsImages)
                            {
                                <MudCarouselItem Transition="transition" Color="@Color.Primary">
                                    <div class="d-flex" style="height:100%;">
                                        <img class="mx-auto my-auto" style="width:100%;" src="@item.NewsImageUrl" alt="slide">
                                    </div>
                                </MudCarouselItem>
                            }

                        </MudCarousel>


                        <div class="bg-white border border-top-0 p-4">
                            <div class="mb-3">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                   href="@($"news/category/{News.Category.NewsCategory.Id}")">@News.Category.NewsCategory.Name</a>
                                <a class="text-body" href="">@News.AddedDate.ToString("dd MMM yyyy")</a>
                            </div>
                            <h1 class="mb-3 text-secondary text-uppercase font-weight-bold">@News.Title</h1>
                            @((MarkupString)News.Details)
                        </div>
                        <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle mr-2" src="img/user.jpg" width="25" height="25" alt="">
                                <span>@News.User.Name @News.User.Surname</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="ml-3"><i class="far fa-eye mr-2"></i>@News.ViewCount</span>
                                <span class="ml-3"><i class="far fa-comment mr-2"></i>123</span>
                            </div>
                        </div>
                    </div>
                    <!-- News Detail End -->
                    <!-- Comment List Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">3 Comments</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-4">
                            <div class="media mb-4">
                                <img src="img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                <div class="media-body">
                                    <h6><a class="text-secondary font-weight-bold" href="">John Doe11</a> <small><i>01 Jan 2045</i></small></h6>
                                    <p>
                                        Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                                        accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.
                                    </p>
                                    <button class="btn btn-sm btn-outline-secondary">Reply</button>
                                </div>
                            </div>
                            <div class="media">
                                <img src="img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                <div class="media-body">
                                    <h6><a class="text-secondary font-weight-bold" href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                                    <p>
                                        Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                                        accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.
                                    </p>
                                    <button class="btn btn-sm btn-outline-secondary">Reply</button>
                                    <div class="media mt-4">
                                        <img src="img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1"
                                             style="width: 45px;">
                                        <div class="media-body">
                                            <h6><a class="text-secondary font-weight-bold" href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                                            <p>
                                                Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor
                                                labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed
                                                eirmod ipsum.
                                            </p>
                                            <button class="btn btn-sm btn-outline-secondary">Reply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Comment List End -->
                    <!-- Comment Form Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Şərh yaz</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-4">
                            <EditForm Model="Comment" OnValidSubmit="HandleComment">
                                <DataAnnotationsValidator />

                                <div class="form-group">
                                    <label for="message">Message *</label>
                                    <InputTextArea @bind-Value="Comment.Message" cols="30" rows="5" class="form-control" />
                                    <ValidationMessage For="(()=>Comment.Message)" style="margin-top: 0.5rem;" />
                                </div>
                                <div class="form-group mb-0">
                                    <input type="submit" value="Şərh yaz"
                                           class="btn btn-primary font-weight-semi-bold py-2 px-3">
                                </div>
                            </EditForm>
                        </div>
                    </div>
                    <!-- Comment Form End -->
                </div>

                <NewsRightSide />
                
            </div>
        </div>
    </div>
    <!-- News With Sidebar End -->
}



@code {
    [Parameter]
    public int? Id { get; set; }


    private bool arrows = true;
    private bool bullets = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;


    public NewsDTO News { get; set; } = new NewsDTO();
    public IEnumerable<NewsDTO> NewsList { get; set; } = new List<NewsDTO>();
    public NewsCommentDTO Comment { get; set; } = new NewsCommentDTO();

    protected override async Task OnInitializedAsync()
    {
        News = await newsService.GetNewsDetails(Id);
        NewsList = await newsService.GetNews();

    }



    private async Task HandleComment()
    {
        Comment.UserId = "27428551-6269-4e4e-8157-c381dc7a23e9";
        Comment.NewsId = News.Id;
        await newsCommentService.CreateNewsComment(Comment);

        await jsRuntime.ToastrSuccess("Create Comment");
        

    }



}
