@inject ILocalStorageService localStorage
@inject INewsCategoryService newsCategoryService
@inject IAccountService accountService
<!-- Topbar Start -->
<div class="container-fluid d-none d-lg-block">
    <div class="row align-items-center bg-white py-3 px-lg-5">
        <div class="col-lg-4">
            <a href="" class="navbar-brand p-0 d-none d-lg-block">
                <h1 class="m-0 display-4 text-uppercase text-primary">Biz<span class="text-secondary font-weight-normal">News</span></h1>
            </a>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
            @*<a href="https://htmlcodex.com"><img class="img-fluid" src="img/ads-728x90.png" alt=""></a>*@
        </div>
    </div>
</div>
<!-- Topbar End -->
<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
        <a href="index.html" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 display-4 text-uppercase text-primary">Biz<span class="text-white font-weight-normal">News</span></h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0">
                <a href="" class="nav-item nav-link active">ANA SƏHİFƏ</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        KATEQORİYALAR
                    </a>
                    <div class="dropdown-menu rounded-0 m-0">
                        @foreach (var item in NewsCategoryList)
                        {
                            <a href="@($"news/category/{item.Id}")" class="dropdown-item">@item.Name</a>
                        }
                    </div>
                </div>
                <a href="contact" class="nav-item nav-link">Contact</a>
            </div>
            <div class="input-group ml-auto d-none d-lg-flex" style="width: 100%; max-width: 300px;">
                <ul class="navbar-nav mr-auto"></ul>
                <ul class="my-0 navbar-nav">
                    <AuthorizeView>
                        <Authorized>
                            <div class="action">
                                <div class="profile" onclick="menuToggle();">
                                    <img style="background:white;" src="img/avatar.png" />
                                </div>
                                <div class="menu">
                                    <h3 class="text-white">@UserDetails.Name @UserDetails.Surname<br /><span>@UserDetails.Profision</span></h3>
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-user fa-lg menuicon"></i><a href="account">My profile</a>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-pen-to-square fa-lg menuicon"></i><a href="#">Edit profile</a>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-envelope fa-lg menuicon"></i><a href="#">Inbox</a>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-gear fa-lg menuicon"></i><a href="#">Setting</a>
                                        </li>
                                        <li><i class="fa-solid fa-circle-question fa-lg menuicon"></i><a href="#">Help</a></li>
                                        <li>
                                            <i class="fa-solid fa-power-off fa-lg menuicon"></i><a href="logout">Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </Authorized>
                        <NotAuthorized>
                            <li class="nav-item p-0">
                                <NavLink class="nav-link" href="registration">
                                    <span class="p-2">
                                        Register
                                    </span>
                                </NavLink>
                            </li>
                            <li class="nav-item p-0">
                                <NavLink class="nav-link" href="login">
                                    <span class="p-2">
                                        Login
                                    </span>
                                </NavLink>
                            </li>
                        </NotAuthorized>
                    </AuthorizeView>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->

@code {

    public IEnumerable<NewsCategoryDTO> NewsCategoryList { get; set; } = new List<NewsCategoryDTO>();
    public UserDTO UserDetails { get; set; } = new UserDTO();
    public UserRoleDTO UserRole { get; set; } = new UserRoleDTO();


    protected override async Task OnInitializedAsync()
    {
        NewsCategoryList = await newsCategoryService.GetAllCategory();
        var userInfo = await localStorage.GetItemAsync<UserDTO>
                (SD.Local_UserDetails);

        UserDetails = await accountService.USerDetails(userInfo.Id);
        UserRole = await accountService.USerRole(userInfo.Id);
    }



}
